
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}


{% block head %}
  <link rel="stylesheet" type="text/css" href="./govuk-frontend.min.css">
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Dog Dirt Division",
    serviceUrl: "#",
    navigation: [
      {
        href: "#",
        text: "Search by Location"
      },
      {
        href: "#",
        text: "Top 10 Locations"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" src="/javascripts/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/javascripts/govuk-frontend.min.js'
    initAll()
  </script>
{% endblock %}